# Public Supabase credentials 
NEXT_PUBLIC_SUPABASE_URL="https://hdoejjtkbxyjloezpqhn.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhkb2VqanRrYnh5amxvZXpwcWhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA0NjMwMzIsImV4cCI6MjA4NjAzOTAzMn0.MmbDWLtesd40Qd3A4qaAWvzYsdlwd9PulypSbaI7cuQ"


# Secret Supabase credentials 
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhkb2VqanRrYnh5amxvZXpwcWhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDQ2MzAzMiwiZXhwIjoyMDg2MDM5MDMyfQ.HuhFNsTUSj7j40OD5DR_KrdDYWBuWf5fZ0lFIFE29-s"


